In [302]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import yfinance as yf

company_info = pd.read_csv("yahoo_company_info_orig.csv")
company_info = company_info.sort_values('marketCap', ascending=False).reset_index(drop=True)

# This should be removed once we recreate our initial csv
# yfinance growth metrics kinda suck?
remove_keys = ['pegRatio', 'overallRisk', 'auditRisk', 'boardRisk', 'compensationRisk', 'shareHolderRightsRisk', 
               'revenueGrowth', 'earningsGrowth', 'earningsQuarterlyGrowth']
company_info = company_info.drop(remove_keys, axis=1)

In [366]:
company = yf.Ticker("MSFT")

# company_5quarter_metrics = pd.concat([company.quarterly_income_stmt, company.quarterly_balance_sheet, company.quarterly_cashflow], join='inner')
# company_5quarter_metrics.loc[['Capital Expenditure Reported', 'Operating Cash Flow']]
# for v in company_5quarter_metrics.index:
#     print(v)

In [377]:
cs = []
for c in company.balance_sheet.index:
    if 'debt' in c.lower():
        cs.append(c)
company.balance_sheet.loc[cs]

,2024-06-30,2023-06-30,2022-06-30,2021-06-30
Net Debt,33315000000.0,12533000000.0,35850000000.0,43922000000.0
Total Debt,67127000000.0,59965000000.0,61270000000.0,67775000000.0
Long Term Debt And Capital Lease Obligation,58185000000.0,54718000000.0,58521000000.0,59703000000.0
Long Term Debt,42688000000.0,41990000000.0,47032000000.0,50074000000.0
Current Debt And Capital Lease Obligation,8942000000.0,5247000000.0,2749000000.0,8072000000.0
Current Debt,8942000000.0,5247000000.0,2749000000.0,8072000000.0

In [361]:
company.income_stmt.loc['Basic EPS'][0], company.income_stmt.loc['Basic EPS'][3]

/var/folders/ts/2jhss7kj1tscv_5m2lmt1nt40000gn/T/ipykernel_7642/371088448.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  company.income_stmt.loc['Basic EPS'][0], company.income_stmt.loc['Basic EPS'][3]

(6.11, 5.67)

In [362]:
(company.income_stmt.loc['Basic EPS'][0]/company.income_stmt.loc['Basic EPS'][3])**(1/3) - 1

/var/folders/ts/2jhss7kj1tscv_5m2lmt1nt40000gn/T/ipykernel_7642/3524909698.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  (company.income_stmt.loc['Basic EPS'][0]/company.income_stmt.loc['Basic EPS'][3])**(1/3) - 1

0.025225462497963536

In [ ]:
company.quarterly_balance_sheet

,2025-03-31,2024-12-31,2024-09-30,2024-06-30,2024-03-31,2023-12-31,2023-09-30
Treasury Shares Number,NaN,NaN,NaN,NaN,NaN,0.0,0.0
Ordinary Shares Number,14939315000.0,15037874000.0,15116786000.0,15222259000.0,15337686000.0,NaN,NaN
Share Issued,14939315000.0,15037874000.0,15116786000.0,15222259000.0,15337686000.0,NaN,NaN
Net Debt,70024000000.0,66500000000.0,76686000000.0,75739000000.0,71895000000.0,NaN,NaN
Total Debt,98186000000.0,96799000000.0,106629000000.0,101304000000.0,104590000000.0,NaN,NaN
...,...,...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,48498000000.0,53775000000.0,65171000000.0,61801000000.0,67150000000.0,NaN,NaN
Other Short Term Investments,20336000000.0,23476000000.0,35228000000.0,36236000000.0,34455000000.0,NaN,NaN
Cash And Cash Equivalents,28162000000.0,30299000000.0,29943000000.0,25565000000.0,32695000000.0,NaN,NaN
Cash Equivalents,3101000000.0,3226000000.0,2744000000.0,2699000000.0,4468000000.0,NaN,NaN
Cash Financial,25061000000.0,27073000000.0,27199000000.0,22866000000.0,28227000000.0,NaN,NaN

In [ ]:
company.quarterly_balance_sheet

,2025-03-31,2024-12-31,2024-09-30,2024-06-30,2024-03-31,2023-12-31,2023-09-30
Treasury Shares Number,NaN,NaN,NaN,NaN,NaN,0.0,0.0
Ordinary Shares Number,14939315000.0,15037874000.0,15116786000.0,15222259000.0,15337686000.0,NaN,NaN
Share Issued,14939315000.0,15037874000.0,15116786000.0,15222259000.0,15337686000.0,NaN,NaN
Net Debt,70024000000.0,66500000000.0,76686000000.0,75739000000.0,71895000000.0,NaN,NaN
Total Debt,98186000000.0,96799000000.0,106629000000.0,101304000000.0,104590000000.0,NaN,NaN
...,...,...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,48498000000.0,53775000000.0,65171000000.0,61801000000.0,67150000000.0,NaN,NaN
Other Short Term Investments,20336000000.0,23476000000.0,35228000000.0,36236000000.0,34455000000.0,NaN,NaN
Cash And Cash Equivalents,28162000000.0,30299000000.0,29943000000.0,25565000000.0,32695000000.0,NaN,NaN
Cash Equivalents,3101000000.0,3226000000.0,2744000000.0,2699000000.0,4468000000.0,NaN,NaN
Cash Financial,25061000000.0,27073000000.0,27199000000.0,22866000000.0,28227000000.0,NaN,NaN

In [ ]:
company.quarterly_balance_sheet

,2025-03-31,2024-12-31,2024-09-30,2024-06-30,2024-03-31,2023-12-31,2023-09-30
Treasury Shares Number,NaN,NaN,NaN,NaN,NaN,0.0,0.0
Ordinary Shares Number,14939315000.0,15037874000.0,15116786000.0,15222259000.0,15337686000.0,NaN,NaN
Share Issued,14939315000.0,15037874000.0,15116786000.0,15222259000.0,15337686000.0,NaN,NaN
Net Debt,70024000000.0,66500000000.0,76686000000.0,75739000000.0,71895000000.0,NaN,NaN
Total Debt,98186000000.0,96799000000.0,106629000000.0,101304000000.0,104590000000.0,NaN,NaN
...,...,...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,48498000000.0,53775000000.0,65171000000.0,61801000000.0,67150000000.0,NaN,NaN
Other Short Term Investments,20336000000.0,23476000000.0,35228000000.0,36236000000.0,34455000000.0,NaN,NaN
Cash And Cash Equivalents,28162000000.0,30299000000.0,29943000000.0,25565000000.0,32695000000.0,NaN,NaN
Cash Equivalents,3101000000.0,3226000000.0,2744000000.0,2699000000.0,4468000000.0,NaN,NaN
Cash Financial,25061000000.0,27073000000.0,27199000000.0,22866000000.0,28227000000.0,NaN,NaN

In [323]:
company.quarterly_income_stmt.loc['Basic EPS']

2025-03-31    1.65
2024-12-31    2.41
2024-09-30    0.97
2024-06-30     1.4
2024-03-31    1.53
2023-09-30     NaN
Name: Basic EPS, dtype: object

In [313]:
company.quarterly_income_stmt.loc["Net Income"]

2025-03-31    24780000000.0
2024-12-31    36330000000.0
2024-09-30    14736000000.0
2024-06-30    21448000000.0
2024-03-31    23636000000.0
2023-09-30              NaN
Name: Net Income, dtype: object

In [315]:
company.info['earningsGrowth']

0.078

In [304]:
company.quarterly_balance_sheet

,2025-03-31,2024-12-31,2024-09-30,2024-06-30,2024-03-31,2023-12-31,2023-09-30
Treasury Shares Number,NaN,NaN,NaN,NaN,NaN,0.0,0.0
Ordinary Shares Number,14939315000.0,15037874000.0,15116786000.0,15222259000.0,15337686000.0,NaN,NaN
Share Issued,14939315000.0,15037874000.0,15116786000.0,15222259000.0,15337686000.0,NaN,NaN
Net Debt,70024000000.0,66500000000.0,76686000000.0,75739000000.0,71895000000.0,NaN,NaN
Total Debt,98186000000.0,96799000000.0,106629000000.0,101304000000.0,104590000000.0,NaN,NaN
...,...,...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,48498000000.0,53775000000.0,65171000000.0,61801000000.0,67150000000.0,NaN,NaN
Other Short Term Investments,20336000000.0,23476000000.0,35228000000.0,36236000000.0,34455000000.0,NaN,NaN
Cash And Cash Equivalents,28162000000.0,30299000000.0,29943000000.0,25565000000.0,32695000000.0,NaN,NaN
Cash Equivalents,3101000000.0,3226000000.0,2744000000.0,2699000000.0,4468000000.0,NaN,NaN
Cash Financial,25061000000.0,27073000000.0,27199000000.0,22866000000.0,28227000000.0,NaN,NaN

In [299]:
def safe_get(df, keys):
    if isinstance(keys, str):
        keys = [keys]
    for key in keys:
        try:
            return df.loc[key].iloc[0]
        except Exception:
            continue
    return None

info = company.info
metrics = {}

ttm_equity = safe_get(company.quarterly_balance_sheet, ["Total Stockholder Equity", "Total Equity"])

In [301]:
ttm_equity

In [272]:
# provides Ex-Dividend Dates and are not aligned with quarterly schedule
# Would need Annualized Dividend Per Share and divide by stock price
company.dividends

Date
1987-05-11 00:00:00-04:00    0.000536
1987-08-10 00:00:00-04:00    0.000536
1987-11-17 00:00:00-05:00    0.000714
1988-02-12 00:00:00-05:00    0.000714
1988-05-16 00:00:00-04:00    0.000714
                               ...
2024-05-10 00:00:00-04:00    0.250000
2024-08-12 00:00:00-04:00    0.250000
2024-11-08 00:00:00-05:00    0.250000
2025-02-10 00:00:00-05:00    0.250000
2025-05-12 00:00:00-04:00    0.260000
Name: Dividends, Length: 87, dtype: float64

In [283]:
# Initial Filters
# 1. company: company nane can be NaN, these companies are insignificant
# 2. returnOnEquity: NaN means its either a newer/delisted company
# 3. returnOnAssets: NaN means its either a newer/delisted company
# 4. heldPercentInsiders: Appear to be smaller companies or very new
# There are lots of companies with
# - trailingPE attempts to answer "How many times are investors willing to pay for each dollar of the company's earnings?"
#   Therefore a negative EPS is meaningless for this question.
#   We should probably calculate this
# - forwardPE can also be NaN if expected future EPS if <= 0.
drop_na = ['company', 'returnOnEquity', 'returnOnAssets', 'marketCap',
           'heldPercentInsiders', 'heldPercentInstitutions', 'trailingPE']
company_info = company_info.dropna(subset=drop_na)

# yfinance sets dividendYield to NaN even though 0 makes perfect sense
company_info['dividendYield'] = company_info['dividendYield'].fillna(0)
company_info['fiveYearAvgDividendYield'] = company_info['fiveYearAvgDividendYield'].fillna(0)

# - freeCashflow can have a lot of NaNs ()
# - enterpriseToEbitda also has a lot of NaNs, Remove metric
drop_for_now = ['freeCashflow', 'enterpriseToEbitda', 'debtToEquity', # important to calculate but lots missing
                'beta', # somewhat important but ARM is somehow missing
                'forwardPE', 'payoutRatio']
company_info = company_info.dropna(subset=drop_for_now)

In [284]:
company_info.columns

Index(['ticker', 'company', 'sector', 'industry', 'returnOnEquity',
       'returnOnAssets', 'operatingMargins', 'ebitdaMargins', 'grossMargins',
       'freeCashflow', 'totalCash', 'totalDebt', 'debtToEquity',
       'currentRatio', 'dividendYield', 'payoutRatio',
       'fiveYearAvgDividendYield', 'forwardPE', 'trailingPE', 'priceToBook',
       'enterpriseToEbitda', 'heldPercentInsiders', 'heldPercentInstitutions',
       'marketCap', 'beta'],
      dtype='object')

In [285]:
for col in company_info.columns:
    percent_na = company_info[col].isna().sum() / len(company_info)
    print(f"{col} has {percent_na:0.5f} NaN rows")

ticker has 0.00000 NaN rows
company has 0.00000 NaN rows
sector has 0.00000 NaN rows
industry has 0.00000 NaN rows
returnOnEquity has 0.00000 NaN rows
returnOnAssets has 0.00000 NaN rows
operatingMargins has 0.00000 NaN rows
ebitdaMargins has 0.00000 NaN rows
grossMargins has 0.00000 NaN rows
freeCashflow has 0.00000 NaN rows
totalCash has 0.00000 NaN rows
totalDebt has 0.00000 NaN rows
debtToEquity has 0.00000 NaN rows
currentRatio has 0.00000 NaN rows
dividendYield has 0.00000 NaN rows
payoutRatio has 0.00000 NaN rows
fiveYearAvgDividendYield has 0.00000 NaN rows
forwardPE has 0.00000 NaN rows
trailingPE has 0.00000 NaN rows
priceToBook has 0.00000 NaN rows
enterpriseToEbitda has 0.00000 NaN rows
heldPercentInsiders has 0.00000 NaN rows
heldPercentInstitutions has 0.00000 NaN rows
marketCap has 0.00000 NaN rows
beta has 0.00000 NaN rows

In [282]:
company_info[company_info['beta'].isna()]

,ticker,company,sector,industry,returnOnEquity,returnOnAssets,operatingMargins,ebitdaMargins,grossMargins,freeCashflow,...,payoutRatio,fiveYearAvgDividendYield,forwardPE,trailingPE,priceToBook,enterpriseToEbitda,heldPercentInsiders,heldPercentInstitutions,marketCap,beta
28,ARM,Arm Holdings plc,Technology,Semiconductors,0.1305,0.0616,0.3304,0.2531,0.9698,-2.162500e+07,...,0.0000,0.00,62.9903,175.351350,20.0556,133.537,0.8731,0.0811,1.371563e+11,NaN
118,BIDU,"Baidu, Inc.",Communication Services,Internet Content & Information,0.0937,0.0293,0.1389,0.2607,0.4913,3.401225e+10,...,0.0000,0.00,7.6069,9.219672,0.1075,6.174,0.0350,0.2840,2.985079e+10,NaN
220,CART,Maplebear Inc.,Consumer Cyclical,Internet Retail,0.1296,0.0681,0.1226,0.1418,0.7522,7.496250e+08,...,0.0000,0.00,35.0112,30.865133,3.8779,22.063,0.1227,0.8162,1.223238e+10,NaN
231,VNOM,"Viper Energy, Inc.",Energy,Oil & Gas Midstream,0.1606,0.0772,0.8060,1.0152,1.0000,-5.995187e+08,...,0.6304,6.34,21.7081,10.167089,1.9723,9.473,0.0028,0.9824,1.158785e+10,NaN
244,TLN,Talen Energy Corporation,Utilities,Utilities - Independent Power Producers,0.2833,0.0091,-0.1680,0.2429,0.2765,1.164875e+09,...,0.0000,0.00,34.3977,24.311424,9.2734,26.465,0.0030,0.9955,1.094238e+10,NaN
264,BPYPP,Brookfield Property Partners L.,Real Estate,Real Estate Services,-0.0327,0.0205,0.3968,0.4594,0.5783,3.204500e+09,...,NaN,9.02,NaN,6.785063,0.6783,20.626,0.0000,0.1949,9.846412e+09,NaN
335,WAY,Waystar Holding Corp.,Healthcare,Health Information Services,0.0101,0.0233,0.2543,0.3265,0.6679,2.320075e+08,...,0.0000,0.00,46.9096,299.500030,2.1543,24.530,0.0118,1.0436,6.736495e+09,NaN
373,CHA,Chagee Holdings Limited,Consumer Cyclical,Restaurants,1.0090,0.3782,0.1927,0.2376,0.4776,1.965213e+09,...,0.0000,0.00,NaN,27.284403,1.1065,-0.114,0.0000,0.0003,5.524264e+09,NaN
384,GDS,GDS Holdings Limited,Technology,Information Technology Services,0.0120,0.0107,0.1341,0.4326,0.2211,-1.391703e+09,...,0.0000,0.00,-47.6167,285.699980,0.2473,18.214,0.0094,0.4450,5.398273e+09,NaN
461,BTSG,"BrightSpring Health Services, I",Healthcare,Health Information Services,0.0274,0.0439,0.0177,0.0507,0.1378,-3.857569e+08,...,0.0000,0.00,27.8916,85.740740,2.4034,11.299,0.0334,1.0652,4.033772e+09,NaN
482,ODD,ODDITY Tech Ltd.,Technology,Software - Infrastructure,0.3226,0.1435,0.1592,0.1840,0.7293,9.638650e+07,...,0.0000,0.00,40.1657,39.011494,11.5285,26.776,0.1587,0.9365,3.789625e+09,NaN
829,HDL,SUPER HI INTERNATIONAL HOLDING,Consumer Cyclical,Restaurants,0.1179,0.0524,0.0496,0.1211,0.2973,6.554612e+07,...,0.0000,0.00,18.1250,29.000000,33.0619,138.684,0.0047,0.0089,1.194383e+09,NaN
923,CVAC,CureVac N.V.,Healthcare,Biotechnology,0.3304,0.1993,-61.2833,0.4599,0.8762,9.171875e+07,...,0.0000,0.00,-9.1250,4.461111,1.4058,2.002,0.5744,0.0462,9.040134e+08,NaN
971,LENZ,"LENZ Therapeutics, Inc.",Healthcare,Biotechnology,-0.2447,-0.1775,0.0000,0.0000,0.0000,-4.055712e+07,...,0.0000,0.00,-12.0340,42.848484,4.0556,-10.101,0.0276,0.9298,7.959745e+08,NaN
985,MGIC,Magic Software Enterprises Ltd.,Technology,Information Technology Services,0.1525,0.0730,0.1069,0.1472,0.2831,6.786087e+07,...,0.5789,3.33,14.9295,20.036974,2.7753,9.024,0.4710,0.2067,7.623065e+08,NaN
1128,TWFG,"TWFG, Inc.",Financial Services,Insurance Brokers,0.1669,0.0691,0.1065,0.1787,0.8534,2.031300e+07,...,0.0000,0.00,55.1562,130.740740,6.9943,14.360,0.1276,0.8619,5.261147e+08,NaN
1276,SBC,SBC Medical Group Holdings Inco,Industrials,Consulting Services,0.2619,0.1998,0.5114,0.4472,0.7794,2.583590e+07,...,0.0000,0.00,0.3237,7.081250,1.5549,2.728,0.9435,0.0009,3.521738e+08,NaN
1343,ANTA,Antalpha Platform Holding Compa,Financial Services,Credit Services,0.1487,0.0020,0.0590,0.0677,0.8963,-1.699972e+08,...,0.0000,0.00,NaN,68.421050,5.3942,203.970,0.9177,0.0000,3.003000e+08,NaN
1530,INBX,"Inhibrx Biosciences, Inc.",Healthcare,Biotechnology,41.1834,-1.0728,-1162.3150,0.0000,0.0000,-8.062362e+07,...,0.0000,0.00,-1.1840,0.109729,2.0018,-0.350,0.2719,0.6811,1.890553e+08,NaN
1587,EPSN,Epsilon Energy Ltd.,Energy,Oil & Gas E&P,0.0445,0.0371,0.3534,0.5083,0.7351,-6.247733e+06,...,1.2500,0.00,19.1351,35.399998,1.5629,7.460,0.1366,0.6241,1.558832e+08,NaN
1818,YXT,YXT.COM GROUP HOLDING LIMITED -,Technology,Software - Application,-0.4846,-0.1339,-0.7601,-0.5247,0.6180,-3.066719e+08,...,0.0000,0.00,NaN,4.217391,0.2565,-0.307,0.0083,0.0004,5.827324e+07,NaN
1883,USIO,"Usio, Inc.",Technology,Software - Infrastructure,0.1938,-0.0086,-0.0109,0.0090,0.2331,2.211764e+06,...,0.0000,0.00,15.8744,11.905833,1.9954,43.709,0.1785,0.2665,3.801185e+07,NaN
1893,BOLD,"Boundless Bio, Inc.",Healthcare,Biotechnology,-0.5406,-0.2989,0.0000,0.0000,0.0000,-3.734012e+07,...,0.0000,0.00,-0.4414,0.210117,0.2644,0.724,0.1140,0.7033,3.626467e+07,NaN
1906,WIMI,WiMi Hologram Cloud Inc.,Communication Services,Advertising Agencies,0.0963,0.0027,0.0408,0.0239,0.2841,3.982982e+08,...,0.0000,0.00,19.9112,0.167404,0.0333,-104.457,0.2363,0.0074,3.324243e+07,NaN
1937,NEUP,Neuphoria Therapeutics Inc.,Healthcare,Biotechnology,0.2680,-0.0101,0.7981,-0.0016,1.0000,-5.530160e+05,...,0.0000,0.00,-3.2105,0.558097,0.4350,263.398,3.5277,0.6700,2.064429e+07,NaN

In [290]:
company_info.query('marketCap >= 1_000_000_000')

,ticker,company,sector,industry,returnOnEquity,returnOnAssets,operatingMargins,ebitdaMargins,grossMargins,freeCashflow,...,payoutRatio,fiveYearAvgDividendYield,forwardPE,trailingPE,priceToBook,enterpriseToEbitda,heldPercentInsiders,heldPercentInstitutions,marketCap,beta
0,MSFT,Microsoft Corporation,Technology,Software - Infrastructure,0.3361,0.1458,0.4567,0.5525,0.6907,5.481700e+10,...,0.2442,0.84,30.5150,35.255024,10.5358,22.720,0.0006,0.7473,3.390725e+12,0.985
1,NVDA,NVIDIA Corporation,Technology,Semiconductors,1.1918,0.5742,0.6111,0.6385,0.7499,4.416975e+10,...,0.0116,0.07,32.3714,45.364010,41.1509,38.203,0.0433,0.6758,3.252579e+12,2.114
2,AAPL,Apple Inc.,Technology,Consumer Electronics,1.3801,0.2381,0.3103,0.3468,0.4663,9.725150e+10,...,0.1558,0.57,24.2708,31.367062,45.1108,22.094,0.0209,0.6290,3.012404e+12,1.275
3,AMZN,"Amazon.com, Inc.",Consumer Cyclical,Internet Retail,0.2524,0.0763,0.1182,0.1940,0.4916,3.927350e+10,...,0.0000,0.00,33.0528,33.160683,7.0533,17.429,0.0872,0.6547,2.158049e+12,1.308
4,GOOGL,Alphabet Inc.,Communication Services,Internet Content & Information,0.3479,0.1690,0.3392,0.3773,0.5859,6.067900e+10,...,0.0893,0.00,19.3153,19.293756,6.0928,14.580,0.0025,0.8111,2.108503e+12,1.010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867,HLIT,Harmonic Inc.,Technology,Communication Equipment,0.1245,0.0905,0.0761,0.1760,0.5536,1.238470e+08,...,0.0000,0.00,10.2333,20.466667,2.3676,8.605,0.0229,0.9376,1.041623e+09,1.034
873,MSEX,Middlesex Water Company,Utilities,Utilities - Regulated Water,0.0980,0.0296,0.2872,0.4592,0.5246,5.500488e+07,...,0.5519,1.64,24.0630,23.763485,2.2821,15.968,0.0137,0.8052,1.026290e+09,0.876
875,VRNT,Verint Systems Inc.,Technology,Software - Infrastructure,0.0641,0.0320,0.2159,0.1585,0.7202,1.326632e+08,...,0.0000,0.00,5.3942,16.182693,1.1791,11.793,0.0128,1.1215,1.013969e+09,1.395
879,NSSC,"NAPCO Security Technologies, In",Industrials,Security & Protection Services,0.2748,0.1615,0.2535,0.2873,0.5726,4.320150e+07,...,0.3893,0.00,15.5994,23.143442,6.2315,17.768,0.0445,0.9157,1.006758e+09,1.402
881,RDWR,Radware Ltd.,Technology,Software - Infrastructure,0.0334,0.0006,0.0239,0.0448,0.8069,5.731762e+07,...,0.0000,0.00,25.2688,87.037030,3.0844,60.692,0.1171,0.7689,1.003133e+09,0.955